.item-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}


.item-card .card-title {
    font-weight: 600;
}


.item-card .card-text {
    margin-bottom: 0.5rem;
}

.item-card .text-muted {
    background-color: #f1f1f1;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}
